*{
  margin: 0;
  padding: 0;
}


body{
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #F2FCFD;
}

ul li{
  list-style: none;
}

/* iconfont 通用css */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


